.page-sidebar {
  float: right;
  margin-left: -100%;
  margin-right: 0;
}
.page-content-wrapper .page-content {
  margin-right: 235px;
  margin-left:0;
  padding: 10px 20px 25px;
}
.portlet > .portlet-title > .caption {
  float: none;
}